/* Login Styling */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #011e32; /* Same dark background */
}

.form {
  width: 80%;
  max-width: 400px;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

h2 {
  color: #fff;
  text-align: center; /* Center the title */
  margin-bottom: 20px; /* Add space below the title */
}

label,
input,
button {
  width: 100%; /* Ensure full width */
  display: block; /* Stack elements */
}

label {
  margin-bottom: 5px; /* Reduce space below label */
  color: #fff; /* White text for visibility */
}

input {
  padding: 8px;
  margin-bottom: 15px; /* Space between inputs and button */
  box-sizing: border-box;
  border: 1px solid #444; /* Add a border to inputs for visibility */
  background-color: #222; /* Dark input background */
  color: #fff; /* White input text */
}

button {
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px; /* Space above the button */
}

button:hover {
  background-color: #218838;
}
